/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-img-page-dark: url(../images/cover-image-light.png);
  --bg-page-color:#ffeef6;
  --button-color:#353430;
  --hover-border-button-color:#32312D;
  --logo-color:#FFC2E6;
  --main-color:#FF8DCB; 
  --section-name-color:#353430;
  --bg-name-paragraph-color:#FF8DCB;
  --name-paragraph-color:#353430;
  --article-text-color:#353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-img-page-dark: url(../images/cover-image-light.png);
    --bg-page-color:#ffeef6;
    --button-color:#353430;
    --hover-border-button-color:#32312D;
    --logo-color:#FFC2E6;
    --main-color:#FF8DCB;
    --section-name-color:#353430;
    --bg-name-paragraph-color:#FF8DCB;
    --name-paragraph-color:#353430;
    --article-text-color:#353430;
  }

  .theme-auto .decor {
  display: none;
  }
}

.theme-light .decor {
  display: none;
}