/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-img-page-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-page-color);
  width: 100%;
  font-family: var(--main-font-famaly),monospace, sans-serif;
  font-size: var(--main-font-size);
}

.header {
  padding: var(--page-padding);
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
}

.rec {
  color: var(--button-color);
  position: absolute;
  line-height: 25px;
  inset-inline-end: 38px;
  inset-block-start: var(--page-padding);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  display: block;
  position: absolute;
  border-top: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: var(--page-padding);
  inset-block-start: var(--page-padding);
}

.decorated-zone::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid var(--button-color);
  border-bottom: 1px solid var(--button-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: var(--page-padding);
  inset-block-end: var(--page-padding);
}

.rec::after {
  content: "";
  display: block;
  position: absolute;
  line-height: 25px;
  inset-inline-end: -20px;
  inset-block-start: 7px;
  background-color: var(--button-color);
  inline-size: 10px;
  block-size: 10px;
  border: 1px solid var(--button-color);
  border-radius: 9px;
  box-shadow: 0 0 4px 2px var(--button-color);
}

.header__theme-menu {
  color: var(--button-color);
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  width: 100%;
  min-width: 70px;
  height: 100%;
  min-height: 26px;
}

.header__theme-menu-button:hover {
  border: 1px var(--hover-border-button-color) solid;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--button-color);
}

.header__logo-cover {
  height: 100%;
  min-height: min-content;
  align-self: center;
}

.logo {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  color: var(--logo-color);
  text-shadow:4px 4px var(--main-color);
  line-height: 83%;
}

.block_text_cover {
  align-self: center;
  background-color: var(--bg-name-paragraph-color);
  color: var(--name-paragraph-color);
  font-weight: bold;
  line-height: 23.4px;
}

.main {
  margin-top: 40px;
  padding: 0 var(--page-padding) var(--page-padding) var(--page-padding);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  gap: 50px;
}

.content-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-name {
  font-weight: bold;
  line-height: 23.4px;
  color: var(--section-name-color);
  font-size: var(--main-font-size);
}

.content-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.name-paragraph {
  font-weight: bold;
  font-size: var(--main-font-size);
  line-height: 23.4px;
  color: var(--name-paragraph-color);
  background-color: var(--bg-name-paragraph-color);
}

.normal-weight-paragraph {
  font-weight: 400;
}

.last-point {
  font-weight: 400;
}

.section-text {
  margin-top: var(--page-padding);
  line-height: 23.4px;
  font-size: var(--main-font-size);
  color: var(--article-text-color);
  height: min-content;
}

.section-text-link {
  text-shadow: 2.3px 1.3px var(--bg-name-paragraph-color);
  text-decoration: none;
}

.section-text-link:hover {
  outline: none;
  border-bottom: 1px solid var(--article-text-color);
}

.section-text-link:focus-visible {
  border: 1px var(--article-text-color) solid;
  outline: none;
}

.galery {
  gap: 10px;
}

.section-img {
  width: 100%;
  height: 100%;
}

.img-sunset {
  grid-column: 1 / span 2;
  grid-row: 1 / 2;
}

.img-ice-cream {
  grid-column: 1 / span 2;
  grid-row: 2 / span 3;
}

.img-tape {
  grid-column: 1 / span 2;
  grid-row: 5 / span 2;
}

.img-books {
  grid-column: 1 / span 2;
  grid-row: 7 / span 3;
}

.img-street {
  grid-column: 1 / span 2;
  grid-row: 10 / span 2;
}

.footer {
  margin-top: 30px;
  display: flex;
  min-height: 668px;
  height: 100vh;
  position: relative;
  justify-content: center;
  align-items: center;
}

@media (width >= 768px) {
  .header {
    padding:0;
  }

  .decorated-zone::before {
    --page-padding:20px;
  }

  .decorated-zone::after {
    --page-padding:20px;
  }

  .rec {
    --page-padding:20px;
    inset-inline-end: 48px;
  }

  .header__theme-menu {
    padding-top: 15px;
    padding-right: 20px;
  }

  .logo {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .block_text_cover {
    max-width: 364px;
    width: 100%;
    justify-self: end;
    margin-top: -20px;
    margin-right: 20px;
  }

  .main {
    margin-top: 60px;
    gap: 80px;
  }

  .content-section {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    padding: 0 10px 0;
  }

  .content-box {
    grid-column: 2/span 2;
  }

  .subname-paragraph {
    grid-column: 1/2;
  }

  .article-list {
    grid-column: 2/4;
  }

  .content-box .article-list {
    grid-column: 1/2;
  }

  .section-name {
    grid-column: 1/2;
  }

  .alter_section {
    gap: 20px;
  }

  .alter_article-list {
    grid-column: 1/4;
  }

  .galery {
    gap: 20px;
    grid-auto-flow: row;
  }

  .galery_name {
    grid-column: 1/4;
    grid-row-start: 1;
  }

  .section-img {
    object-fit: cover;
  }

  .img-sunset {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .img-ice-cream {
    grid-column: 3/4;
    grid-row: 2/4;
  }

  .img-tape {
    grid-column: 1/2;
    grid-row: 3/5;
  }

  .img-books {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .img-street {
    grid-column: 2/4;
    grid-row: 4/5;
  }

  .footer {
    margin-top: 50px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    padding: 0;
    padding-top: 20px;
    justify-self: center;
    align-self:flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .block_text_cover {
    max-width: 491px;
  }

  .alter_article-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--main-gap);
  }
  
  .alter_article-list li {
    max-width: 315px;
    width: 100%;
  }
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}