/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-img-page-dark: url(../images/cover-image-dark.png);
  --main-font-size: 18px;
  --page-padding:10px;
  --main-font-famaly: 'IBM Plex mono',monospace,sans-serif;
  --bg-page-color:#000028;
  --button-color:#FF0070;
  --hover-border-button-color:#FF007066;
  --logo-color:#DB00FF;
  --main-color:#FF0070; /* ТЕНИ*/
  --section-name-color:#FF0070;
  --bg-name-paragraph-color:#FF0070;
  --name-paragraph-color:#000028;
  --article-text-color:#F1B2CE;
}
